@model List<EsselTestLocalApplication.Models.AddTermLoan>
@{
    ViewBag.Title = "VerifyTermLoanAgency";
    Layout = "~/Views/Shared/EsselMaster.cshtml";
}
@Styles.Render("~/bundles/Accounts/css")
@Scripts.Render("~/bundles/AccountsApprovaljs")
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <h4 style="text-align:left;font-weight:bold">Term Loan Agency Verification</h4>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <!-- Example Tabs Left-->
                            <div class="card-inner">
                                <input type="text" value="0" id="txtAppTLCreatedby" style="display:none" />
                                <input type="hidden" id="currentTLid" /><input type="hidden" id="roleid" />
                                <div id="divApprTLDtailsGrid">
                                    @Html.Action("VerifyTermLoanAgencyGrid", "AccountsApproval")
                                </div>
                                <div id="ApproveTLMsgModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <br />
                                                <div id="AppTLMsg" style="text-align:center;font-size:20px;color:forestgreen"></div>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

