
<link href="~/Content/Spinner/Spinner.css" rel="stylesheet" />
<script src="~/Scripts/Spinner/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/Spinner/main.min.js"></script>
<script src="~/Scripts/Spinner/Spinner.js"></script>

<div class="initial-popup">
    <div class="col-md-12">
        <div class="card">
            <div class="body">
                <div class="login-img">
                    <a href="index.html">
                        <img src="~/Content/EsselImages/logo.jpg" class="img-responsive">
                    </a>
                </div>
                <div class="log-body">
                    <div class="form-group myr-top">
                        <label>Enter Your Username</label>
                        <input type="text" class="form-control custom" placeholder="Enter Your Email" id="txtEmpFPUsername" value="">
                    </div>
                    <div class="form-group myr-top">
                        <div class="log-btn text-center">
                            <a href="#" class="btn btn1 btn-success" onclick="SubmitEmpForgotPassword()" id="btnsendempemail">Submit</a>
                        </div>
                        <div class="log-bottom-cotent">

                            <a href="/Login/Logout" class="pull-right">Back to Login</a>
                        </div>
                        <div class="row">
                            <div class="text-center">
                                <br />
                                <div id="divEmpFPInfoMsg" class="alert alert-danger hidden">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function SubmitEmpForgotPassword() {

        isValid = true;
        var errorMsg = "";
        var logintype = "Employee";       
        var user = $("#txtEmpFPUsername").val();
        if (user === "") {
            errorMsg += "<p style='margin-top:-5px!important;'>Enter Username</p>";
            isValid = false;
        }

        if (!isValid) {

            $("#divEmpFPInfoMsg").text("");
            $("#divEmpFPInfoMsg").append("<div style='align:center'>" + errorMsg + "</div>");
            $("#divEmpFPInfoMsg").addClass("alert-danger");
            $("#divEmpFPInfoMsg").removeClass("hidden alert-success");
            return false;
        }
        else {
            $("#divEmpFPInfoMsg").text("");
            $("#divEmpFPInfoMsg").addClass("hidden");

            $.ajax({
                type: "POST",
                url: "/Login/GetUserbyUsername",
                data: '{Username:"' + user + '",LoginType:"' + logintype + '"}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (response) {
                    var count1 = Object.keys(response).length;
                    var msg = "";
                    if (count1 > 0) {
                        var pwd = response.Password;
                        var email = response.workemail;

                        if (pwd !== '' && pwd !== null) {
                            SendEmpEmail(user, pwd, email, logintype);
                        }
                        $("#divEmpFPInfoMsg").text("");
                        $("#divEmpFPInfoMsg").addClass("hidden");
                    }
                    else {
                        $("#divEmpFPInfoMsg").text("");
                        $("#divEmpFPInfoMsg").append("<div style='align:center'>Please Enter Valid Username</div>");
                        $("#divEmpFPInfoMsg").addClass("alert-danger");
                        $("#divEmpFPInfoMsg").removeClass("hidden alert-success");
                    }

                    //removeSpinner($('#ajax-container'), function () {
                    //    $('#ajax-container').html('Content loaded.');
                    //});
                },
                failure: function (response) {
                    $("#divEmpFPInfoMsg").text("");
                    $("#divEmpFPInfoMsg").append("<div style='align:center'>Please Enter Valid Username</div>");
                    $("#divEmpFPInfoMsg").addClass("alert-danger");
                    $("#divEmpFPInfoMsg").removeClass("hidden alert-success");
                },
                error: function (response) {
                    $("#divEmpFPInfoMsg").text("");
                    $("#divEmpFPInfoMsg").append("<div style='align:center'>Please Enter Valid Username</div>");
                    $("#divEmpFPInfoMsg").addClass("alert-danger");
                    $("#divEmpFPInfoMsg").removeClass("hidden alert-success");
                }
            });
        }

    }
    function SendEmpEmail(Username, Password, email, logintype) {
        $.ajax({
            type: "POST",
            url: "/Login/SendEmail",
            data: '{Username:"' + Username + '",Password:"' + Password + '",email:"' + email + '",logintype:"' + logintype + '"}',
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (response) {
                if (response.saveStatus === "Sent") {
                    $("#btnsendempemail").prop('disabled', true);
                    $("#divEmpFPInfoMsg").text("Password Sent to Registered Email");
                    $("#divEmpFPInfoMsg").removeClass("hidden alert-danger");
                    $("#divEmpFPInfoMsg").addClass("alert-success");
                }

                else {
                    $("#btnsendempemail").prop('disabled', true);
                    $("#divEmpFPInfoMsg").text(response.saveStatus);
                    $("#divEmpFPInfoMsg").addClass("alert-danger");
                    $("#divEmpFPInfoMsg").removeClass("hidden alert-success");
                }             

            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {

                $("#btnsendempemail").prop('disabled', true);
                $("#divEmpFPInfoMsg").text(addFailMsg);
                $("#divEmpFPInfoMsg").addClass("alert-danger");
                $("#divEmpFPInfoMsg").removeClass("hidden alert-success");
            }
        });

    }
</script>
