@{
    /**/
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/EsselMaster.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div class="col-md-12">
        <img src="~/Content/EsselImages/ErrorPage.jpg" style="width:1000px;height:400px; align-content:center" alt="Under Construction">
    </div>
</body>
</html>
