
@model List<EsselTestLocalApplication.Models.HR.MinimumWagesRules>
@if (Model.Count > 0)
{
    <div class="table-responsive">
        <table id="tblMinWageGrid" style="width:100%" class="hover stripe nowrap example dataTable no-footer">
            <thead>
                <tr>
                    <th>Effective Date</th>
                    <th>Amount</th>
                    <th>State</th>
                    <th>Skill Type</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.EffectiveDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Amount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SkillType)
                    </td>

                    <td >
                        @*<input type="button" class="editleave btn btn-md btn-danger" value="Edit">*@
                        <input type="button" class="deleteleave btn btn-md btn-danger" value="Delete">
                    </td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr></tr>
            </tfoot>
        </table>
    </div>
    <script>
    $(document).ready(function () {
        var MinWageGrid = null;
        InitializetblMinWageGrid();
        $("#tblMinWageGrid").on("click", ".deleteleave", function (event) {
            //alert('deleted');
            var row = $(this).closest("tr");
            var state = $.trim(row.find("td").eq(2).html());
            //$(this).closest("tr").remove();

            addFailMsg = "Error Occurred While Deleting.";
            $.ajax({
                type: 'POST',
                dataType: 'json',
                url: '/HR/DeleteMinWages',
                data: { Statemame: state },
                success: function (Data) {
                    //alert("Hi");
                    if (Data.saveStatus === "Deleted") {
                        row.remove();
                        RebindStates();
                        $("#txtMinWageEffectiveDate").datepicker("setDate", 'dateToday');
                       
                        $('#txtMinWageAmount').val("");
                        $("#ddlMinWageSkillName").prop('selectedIndex', 0);
                        //var shcount = $("#tblSalaryHeadGrid tbody tr").length;
                        //if (shcount > 0) {
                        //    $("#divGridSalaryHead").removeClass('hidden');
                        //}
                        //else { $("#divGridSalaryHead").addClass('hidden'); }
                    }
                    else {
                        $("#divMinWageInfoMsg").text(addFailMsg);
                        $("#divMinWageInfoMsg").addClass("alert-danger");
                        $("#divMinWageInfoMsg").removeClass("hidden alert-success");
                    }
                    var shcount = $("#tblMinWageGrid tbody tr").length;
                    if (shcount > 0) {
                        $("#MinWageGrid").removeClass('hidden');
                    }
                    else { $("#MinWageGrid").addClass('hidden'); }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {
                    $("#divMinWageInfoMsg").text(addFailMsg);
                    $("#divMinWageInfoMsg").addClass("alert-danger");
                    $("#divMinWageInfoMsg").removeClass("hidden alert-success");
                }
            });
        });

    });
        function InitializetblMinWageGrid() {
            leavesGrid = $('#tblMinWageGrid').DataTable({
            info: false,
            destroy: false,
            paging: false,
            lengthChange: false,
            searching: false,
            ordering: false,
            pagingType: false,
            language: {
                "emptyTable": "No Rules Found"
            },
                "createdRow": function (row, data, index) {

                    //var oldcarryfwd = $.trim($('td:eq(1)', row).html());
                    ////alert(oldstatus);
                    //debugger;
                    //if (oldcarryfwd === false) {
                    //    $('td:eq(1)', row).html("No");

                    //}
                    //else { $('td:eq(1)', row).html("Yes"); }

            },
            pageLength: 10
        });
    }
    </script>
}