@{
    ViewBag.Title = "EsselHome";
    Layout = "~/Views/Shared/EsselMaster.cshtml";
}

<head>
    @Styles.Render("~/Content/EsselStyles/EsselMasterStyles.css")
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-12 padding-15">
                <div class="col-md-4 col-lg-4">
                    <div class="mainmenu-square">
                        <img class="mainmenu-img" src="~/Content/EsselImages/Puchase1.png" />
                        <label class="menuitemimg-label">Purchase</label>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="mainmenu-square">
                        <img class="mainmenu-img" src="~/Content/EsselImages/WareHouse1.png" />
                        <label class="menuitemimg-label">WareHouse</label>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="mainmenu-square">
                        <img class="mainmenu-img" src="~/Content/EsselImages/Project1.png" />
                        <label class="menuitemimg-label">Project</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 padding-15">
                <div class="col-md-4 col-lg-4">
                    <div class="mainmenu-square">
                        <img class="mainmenu-img" src="~/Content/EsselImages/Account.png" />
                        <label class="menuitemimg-label">Account</label>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="mainmenu-square">
                        <img class="mainmenu-img" src="~/Content/EsselImages/HR.jpg" width="100" height="100" />
                        <label class="menuitemimg-label">HR</label>
                    </div>
                </div>
                <div class="col-md-4 col-lg-4">
                    <div class="mainmenu-square">
                        <img class="mainmenu-img" src="~/Content/EsselImages/Tools1.png" />
                        <label class="menuitemimg-label">Tools</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
