@model List<EsselTestLocalApplication.Models.BasicFirmInfo>
<div class="table-responsive">
    <table id="tblcapitalGrid" style="width:100%" class="hover stripe nowrap example dataTable no-footer">
        <thead>
            <tr style="font-weight:200; align-content:center"><th colspan="4">Capital Details</th></tr>
            <tr>
                <th>Type</th>
                <th>No of Shares</th>
                <th>Price of Each Share</th>
                <th>Amount</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CapitalType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.shares)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Eachshare)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.shareAmount)
                </td>

            </tr>
            }
        </tbody>
    </table>
</div>
<script>
    var openRows = new Array();
    $(document).ready(function () {
        var ApprovecccashtransferGrid = null;
        InitializeApprcccashtransferGrid();
    });
    function InitializeApprcccashtransferGrid() {
        ApprovecccashtransferGrid = $('#tblcapitalGrid').DataTable({
            destroy: false,
            paging: false,
            lengthChange: false,
            searching: false,
            pagingType: false,
            ordering: false,
            formatNumber: false,
            language: {
                "emptyTable": "No Records Found"
            },
        });
    }

</script>
