@model List<EsselTestLocalApplication.Models.Purchase.Transfer>
@Styles.Render("~/bundles/Accounts/css")
@Scripts.Render("~/bundles/Purchase")
<div class="col-md-12">
    <table style="width:100%" class="hover stripe nowrap example dataTable no-footer">
        <thead>
            @*<tr><th colspan="6" style="text-align:center;color:#fff !important;background-color:#4682B4 !important;font-weight:normal; white-space: normal;font-size:15px;">Transfer Items Remarks by Roles</th></tr>*@
            <tr>
                <th style="text-align:center;color:#fff !important;background-color:#004d99 !important;font-weight:normal; white-space: normal;font-size:10px">Transfer Items Remarks by Roles</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td style="text-align:center;font-weight:normal; white-space: normal;font-size:11px">
                        @Html.DisplayFor(modelItem => item.Remarks)
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

