@model List<EsselTestLocalApplication.Models.BasicFirmInfo>
<div class="table-responsive">
    <table id="tbldirectorGrid" style="width:100%" class="hover stripe nowrap example dataTable  no-footer">
        <thead>
            <tr style="font-weight:200; align-items:center;"><th colspan="3">Directors Details</th></tr>
            <tr>
                <th>Name</th>
                <th>Address</th>
                <th>Designation</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DirNames)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Diraddresses)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DirDesignations)
                </td>

            </tr>
            }
        </tbody>
    </table>
</div>
<script>
    var openRows = new Array();
    $(document).ready(function () {
        var ApprovecccashtransferGrid = null;
        InitializeApprcccashtransferGrid();
    });
    function InitializeApprcccashtransferGrid() {
        ApprovecccashtransferGrid = $('#tbldirectorGrid').DataTable({
            destroy: false,
            paging: false,
            lengthChange: false,
            searching: false,
            pagingType: false,
            ordering: false,
            formatNumber: false,
            language: {
                "emptyTable": "No Records Found"
            },
        });
    }

</script>
