
@{
    ViewBag.Title = "VerifyStaffRegistration";
    Layout = "~/Views/Shared/EsselMaster.cshtml";
}

@Styles.Render("~/bundles/Accounts/css")
@Scripts.Render("~/bundles/AccountsApprovaljs")
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card">

                <div class="card-header">
                    <h4 style="text-align:left;font-weight:bold">Staff Registration Verification</h4>
                </div>
                <div class="body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-12 col-md-12">
                            <!-- Example Tabs Left-->
                            <div class="card-inner">                         
                              
                                <div id="divApprStaffGrid">
                                    @Html.Action("VerifyStaffRegistrationGrid", "HR")
                                </div>
                                <div id="ApproveStaffMsgModal" class="modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
                                    <div class="modal-dialog modal-lg">
                                        <!-- Modal content-->
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                <br />
                                                <div id="ApprStaffMsg" style="text-align:center;font-size:20px;color:forestgreen"></div>
                                                <br />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#ApproveStaffMsgModal").on("hidden.bs.modal", function () {
            $("#divApprStaffGrid").load('/HR/VerifyStaffRegistrationGrid');
        });
    });
</script>
