
@{
    ViewBag.Title = "AddBusinessUsers";
    //Layout = "~/Views/Shared/_BusinessInfoSetup.cshtml";
}

<div class="col-md-10">
    <h4>Add Business Users</h4>
    <hr />
    <form class="form-horizontal">
        <h4 style="font:bold">First User</h4>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputEmail" class="control-label col-xs-3">Email<span style="color:red">*</span></label>
                    <div class="col-xs-9">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputPassword" class="control-label col-xs-3">Password<span style="color:red">*</span></label>
                    <div class="col-xs-9">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="inputPassword" class="control-label col-xs-3">Confirm Password<span style="color:red">*</span></label>
                    <div class="col-xs-9">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                </div>
            </div>
        </div>
        <hr style="margin:0px"/>
        <h4 style="font:bold">Second User</h4>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputEmail" class="control-label col-xs-3">Email<span style="color:red">*</span></label>
                    <div class="col-xs-9">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputPassword" class="control-label col-xs-3">Password<span style="color:red">*</span></label>
                    <div class="col-xs-9">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="inputPassword" class="control-label col-xs-3">Confirm Password<span style="color:red">*</span></label>
                    <div class="col-xs-9">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                </div>
            </div>
        </div>
        <hr style="margin:0px"/>
        <h4 style="font:bold">Third User</h4>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputEmail" class="control-label col-xs-3">Email<span style="color:red">*</span></label>
                    <div class="col-xs-9">
                        <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="form-group">
                    <label for="inputPassword" class="control-label col-xs-3">Password<span style="color:red">*</span></label>
                    <div class="col-xs-9">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                </div>
            </div>
            <div class="col-sm-8">
                <div class="form-group">
                    <label for="inputPassword" class="control-label col-xs-3">Confirm Password<span style="color:red">*</span></label>
                    <div class="col-xs-9">
                        <input type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                </div>
            </div>
        </div>
        <div style="padding-left:30%;padding-top:20px">
            <button type="submit" class="btn btn-primary">Add Users</button>
            <button type="reset" class="btn btn-default">Reset</button>
            
        </div>
    </form>    
</div>
