<div class="row">
    <form onsubmit="return false">
        <div class="col-md-12">
            <img src="~/Content/EsselImages/under-construction.jpg" style="width:1000px;height:400px; align-content:center" alt="Under Construction">
        </div>        
    </form>
</div>
